
.footerStyle{

    background-color: #000;
    padding-top: 50px;
    text-align: center;
    color:#fff;
    /* margin-bottom: 2rem; */
}

.footer-skill{
    color: #fff;
    display: flex;
    grid-template-columns: 1fr max-content 1fr;
    justify-content: center;
    column-gap: 1.5rem;
    font-style: italic;
    
}

.footericons{
    display: flex;
    color: white;
    grid-template-columns: 1fr max-content 1fr;
    justify-content: center;
    column-gap: 1.5rem;
    background-color: #000;
    
}

/* .footer-icons i {
    color: white;
    font-size: 33px;
} */

.footerrights{
 padding-right: 30px;
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center; /* Center items vertically */
  color: #fff;
  background-color: #000;
}
.skilllevel{
    color: white;
}
#Forms{
    color: white;
}
label{
    padding-right:3%;
}
input,button,textarea{
    border-radius:10px;
    color: white;
    text-align: center;
    margin: double 10px white;
   
    background-color:  rgb(10, 10, 10);;
}
.Form{
    color: white;
    padding-left: 10%;
   align-items: center;
}

#head1{
    text-align: center;
}